<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>taar chat</title>
</head>
<body>

  <section class="section">
    <div class="button-wrapper">
      <input type=button onClick="location.href='http://127.0.0.1:5000/friends/add'"
      value='Add Friend'>
      <input type=button onClick="location.href='http://127.0.0.1:5000/friends/view-requests'"
      value='Friend Requests'>
    </div>
    <div class="friend-chat-wrapper">
      <div id="friends-container">
        <h3>Select friend to see chat</h3>
        <div id="friends"></div>
      </div>
      <div id="msg-container"></div>
    </div>
  </section>

</body>
<script src="../static/chat.js"></script>
</html>