<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input type=button onClick="location.href='http://127.0.0.1:5000/friends/add'"
 value='Add Friend'>
 <input type=button onClick="location.href='http://127.0.0.1:5000/friends/view-requests'"
 value='Friend Requests'>
</body>
<script src="../static/chat.js"></script>
</html>